*{
    
    
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
header{
    height: 150px;
    background-image: linear-gradient(to top, rgba(164, 191, 254, 0) 0%, rgba(246, 126, 130, 0) 100%), url(https://thumbs.gfycat.com/LiquidAnimatedBuckeyebutterfly-size_restricted.gif);
    background-repeat: no-repeat;
    background-size: 70rem 9rem;
    background-attachment: local;
    background-position: center bottom;
}

section{
    background: #f2f2f2;
}

.bory{
    margin-left: 30px;
}

#titulo{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}

table, th, td {
    text-align: center;
    border-style: solid;
    border-color: rgb(65, 44, 44);
    border-radius: 7px;
    border-width: 5px;
    background-color: bisque;
}

#tabla{
    margin-left: 40px;
}

.subtitulo{
    text-align: left;
    font-weight: 300;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 40px;
}

footer{
    background-image: linear-gradient(to top, #30cfd0 70%, #330867 100%);
    padding-bottom: 0.1px;

}

#piepagina{
    margin-left: 25px;
}